django
python-decouple
django-encrypted-model-fields
dj_database_url
django_cryptography
gunicorn
psycopg2
whitenoise
django-csp
django_extensions
Werkzeug
pyOpenSSL
#python manage.py runserver_plus --cert-file dev.cert --key-file dev.key